
<!doctype html>

<link rel="stylesheet" href="/static/css/main.css" />
<script src="/static/js/d3.js"></script>
<script src="/static/js/underscore.js"></script>
<script src="/static/js/jquery.min.js"></script>
<style>
</style>

<body>
<div id="bg">
  <svg id="chart" width=1200 height=700 style=""></svg>
</div>
<div><span id="label"></span><span style="margin-left: 3ex">space: start/stop.   ← : back a frame.  →: forward a frame.</span></div>
<div id="map"></div>
</body>

<script>

$(function() {
  var w = $(document).width()-30,
      h = $(document).height() - 50;
  $("#chart").width(w).height(h);
  var chart = d3.select("#chart")
  var els = chart.selectAll("circle")
  var label = d3.select("#label");

  var latmin = -71.1069974; var latmax = -71.076615; var lonmin = 42.3539066; var lonmax = 42.366946;
  var x = d3.scale.linear().domain([latmin, latmax]).range([10, w-10])
  var y = d3.scale.linear().domain([lonmin, lonmax]).range([h-10, 10])
  var frameidx = 0;
  var dframeidx = 1;
  var running = true;
  var plot_frame; // function to render a frame

  d3.select("body")
    .on("keydown", function() {
      if (d3.event.keyCode == 32) { // space
        running = !running;
      } else if (d3.event.keyCode == 37) { // left arrow
        dframeidx = -1;
        plot_frame(true);
      } else if (d3.event.keyCode = 39) { // right arrow
        dframeidx = 1;
        plot_frame(true);
      }
    });



  var graphblgs = function(data) {
    var nest = d3.nest()
      .key(function(d) { return d.id; })
      .entries(data)

    var line = d3.svg.line()
      .x(function(d){return x(d.lat); })
      .y(function(d){return y(d.lon); });

    chart.selectAll('path.blg').data(nest)
      .enter().append('path')
      .attr('class', 'blg')
      .attr('d', function(d) { return line(d.values) + "Z"; })
      .style("fill", "none")
      .style('stroke-width', 1)
      .style("stroke", "#ccc")
  }

  var graphit = function(data) {
    var okrooms = {};
    d3.nest().key(function(d) { return d.room; })
      .entries(data)
      .filter(function(d) { return d3.max(d.values, function(dd) { return dd.count; }) > 10; })
      .map(function(d) { okrooms[d.key] = 1; return d.key; })
    data = data.filter(function(d) { return d.lon >= 42.3 && d.lon <= 42.39 && okrooms[d.room]; })


    // group by time
    nest = d3.nest()
      .key(function(d) { return d.time; })
      .entries(data)
      .map(function(d) { return { key: new Date(d.key), values: d.values }; });
    nest.sort(function(a,b) { return a.key - b.key; })

    times = nest.map(function(d) { return d.key;});
    timedData = nest.map(function(d) { return d.values;});

    var tmin = d3.min(data, function(d){return d.time})
    var tmax = d3.max(data, function(d){return d.time})
    var countmax = d3.max(data, function(d){return d.count})
    var color = d3.scale.linear().domain([1, .05*countmax, 0.1*countmax, .5*countmax, .8*countmax]).range(["#eee", "#ccc", "rgb(255, 174, 174)", "rgb(255, 88, 88)", "red"]).clamp(true)
    //var latmin = d3.min(data, function(d) { return d.lat})
    //var latmax = d3.max(data, function(d) { return d.lat})
    //var lonmin = d3.min(data, function(d) { return d.lon})
    //var lonmax = d3.max(data, function(d) { return d.lon})

    var r = d3.scale.log().domain([1,  0.8*countmax, countmax]).range([0, 13, 20]).clamp(true)
    t = d3.scale.linear().domain([tmin, tmax]).range([10, w-10]);
    console.log([countmax, tmin, tmax, latmin, latmax, lonmin, lonmax])

    overtime = times.map(function(time, i) {
      return { 'time': new Date(time), count: d3.mean(timedData[i].map(function(d) { return d.count; })) };
    });
    countmax = d3.max(overtime, function(d) {return d.count; })
    var ly = d3.scale.linear().domain([1, countmax]).range([h, h-100]).clamp(true)
    var line = d3.svg.line()
      .x(function(d){return t(d.time); })
      .y(function(d){return ly(d.count); });
    chart.append('path')
      .attr('d', line(overtime))
      .style("fill", "none")
      .style('stroke-width', 2)
      .style("stroke", "#ccc")

    var timept = chart.append('circle')
      .attr('r', 5)
      .style('fill', 'black')

    
    els.data(timedData[0])
      .enter()
      .append('circle')
      .classed('room', true)
      .attr('opacity', 0.8)
      .attr('cx', function(d) { return x(d.lat) })
      .attr('cy', function(d) { return y(d.lon) })
      .attr('r', function(d, idx) { return r(d.count); })
      .attr('fill', function(d) { return color(d.count) })


    plot_frame = function(oneframe) {
      if (!running && oneframe === undefined) return;
      if (frameidx >= timedData.length) frameidx = 0;
      if (frameidx < 0) frameidx = timedData.length-1;
      frameidx = frameidx + dframeidx;
      label.text(times[frameidx])
      timept
        .attr('cx', t(overtime[frameidx].time))
        .attr('cy', ly(overtime[frameidx].count))

      chart.selectAll('circle.room').data(timedData[frameidx])
        .attr('r', function(d) { return r(d.count); })
        .attr('fill', function(d) { return color(d.count) })
    }

    setInterval(function() { 
      plot_frame();
    }, 100);



  }











  d3.select("#label").text('Downloading around 40MB of data!')
  d3.csv("/static/blgs.csv", function(d) {
    return {
      lon: +d.lat,
      lat: +d.lon,
      id: d.id
    }
  }, function(err, rows) {
    console.log(rows[0]);
    graphblgs(rows);
  });

  d3.csv("/static/data.csv", function(d) {
    return {
      lon: +d.lat,
      lat: +d.lon,
      room: d.room,
      time: new Date(+d.time * 1000),
      count: +d.count,
    };

  }, function(err, rows) {
    data = rows
    graphit(rows);
  })


  if (false) {
    map = L.map('map').setView([42.360183,-71.090469], 17);

    // add an OpenStreetMap tile layer
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
  }

})

</script>
